server:
  port: 8084

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/payment_db?useSSL=false
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: U6lM6J1Pk2F7kUdfxNnN8amA0J8G9A7Lz41aHwD9W7T1J6jUuV9C8qA4eR7mA6K8N2mO8yT9Z5D3sQ==

order:
  service-url: http://localhost:8083/api/orders
